OPENAI_API_KEY=
SUPABASE_DB_PASSWORD=
NEXT_PUBLIC_SUPABASE_URL=https://ffranmygjhmbitmtlkiw.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPER_ADMIN_PROVIDER_IDS=
ADMIN_PROVIDER_IDS=
SUPABASE_AUTH_KAKAO_CLIENT_ID=
SUPABASE_AUTH_KAKAO_CLIENT_SECRET=
SUPABASE_AUTH_NAVER_CLIENT_ID=
SUPABASE_AUTH_NAVER_CLIENT_SECRET=
CLEAR_KOREA_ENABLE_DEV_GUEST_BYPASS=false
SEOUL_CITYDATA_API_KEY=
